body {
    background:white;
}


p
{
    font-family:'Times New Roman', Times, serif;
    font-size:25px;
    text-align:left;
    color:black;
}
.h82{
    color:darkblue;
}

.jimbob{
    color:dimgray;
}

.caiw {
    color:deeppink;
}

.main{
    margin:auto;
    width:700px;
    background-color:lightgrey;
    overflow-wrap: break-word;
}

.red{
    color:red;
}
